.tit{
  font-size: 35px;
  font-weight: bold;
  margin-top: 3%;

}
.all1{
  margin-left: 30%;
  margin-right:30%;
  text-align: center;


}
.fpp{
  position: relative;
  margin-top: -1%;
}
.fpp::before{
  content: "";
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 2px solid black;
}
.ttn{
  text-align: left;
  font-size: 19px;
  width: 100%;
  font-weight: bold;

}
.inp{
  margin-bottom: 4%;
}
.dd .bott{
  margin-bottom: 10%;
  font-size: 20px;
} 
.c2 .fpp::before{
  margin-bottom: -2%;

}

.fpp .bott{
  font-size: 20px;
  margin-bottom: 2%;
}

.botonesRapida {
  margin-left: 10%;
  width: 80%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 5%;

}
  
.BotonPartidaRapidaAc {
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaRapidaIn {
    background-color: #ddd;
    color: #aaa;
 
}


.botonesBarrera {

  width: 100%;
  justify-content: space-between;
  display: flex;

}
  
.BotonPartidaBarAc{
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaBarIn {
    background-color: #ddd;
    color: #aaa;
}

.error1In{
    display: none;
  }
  .error1{
    color: red;
  }
  .error2In{
    display: none;
  }
  .error2{
    color: red;
  }
  .error3In{
    display: none;
  }
  .error3{
    color: red;
  }
  .error4In{
    display: none;
  }
  .error4{
    color: red;
  }
  .error5In{
    display: none;
  }
  .error5{
    color: red;
    text-align: center;
    
}

.breadcrumb .casa:hover{
  transform: scale(1.7);
  transition: 0.2s ease-in-out;
}

.breadcrumb .casa{

  transform: scale(1.4);
  transition: all;
}
.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.breadcrumb-item {
  font-size: 20px;
  color: #999;
  margin-right: 5px;
}
.back2{
  margin-top: 10%;
  margin-bottom: 5%;
}