.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.botonesRapida {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.BotonPartidaRapidaAc {
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaRapidaIn {
    background-color: #ddd;
    color: #aaa;
 
}


.botonesBarrera {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.BotonPartidaBarAc{
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaBarIn {
    background-color: #ddd;
    color: #aaa;
}