.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonesRapida {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.BotonPartidaRapidaAc {
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaRapidaIn {
    background-color: #ddd;
    color: #aaa;
 
}


.botonesBarrera {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
  
.BotonPartidaBarAc{
    background-color: #4CAF50;
    color: white;
}
  
.BotonPartidaBarIn {
    background-color: #ddd;
    color: #aaa;
}

.error1In{
    display: none;
  }
  .error1{
    color: red;
  }
  .error2In{
    display: none;
  }
  .error2{
    color: red;
  }
  .error3In{
    display: none;
  }
  .error3{
    color: red;
  }
  .error4In{
    display: none;
  }
  .error4{
    color: red;
  }
  .error5In{
    display: none;
  }
  .error5{
    color: red;
    text-align: center;
    
}