  .partidaDado {
    position: absolute;
    bottom: 150px;
    right: 10px;
    transform: scale(0.6);
    left:1390px;
    z-index:999;
  }

  .tirarDado {
    position: fixed;
    bottom: 130px;
    width: 100px;
    right: 160px;
    z-index: 1;
    transform: scale(3);
    left:1550px;
    background-color: rgb(69, 31, 0);
    border-radius: 15px;
    color:#fff;
    display:inline-block ;
    cursor: pointer;
  }
  .tirarDado:hover{
    background-color: #140903;
  }
  .icono{
    position: fixed;
    z-index:9999;
  }
  
  .ficha1:hover,.ficha2:hover,.ficha3:hover,.ficha4:hover,.fichab1:hover,.fichab2:hover,.fichab3:hover,.fichab4:hover,.fichac1:hover,.fichac2:hover,.fichac3:hover,.fichac4:hover,.fichad1:hover,.fichad2:hover,.fichad3:hover,.fichad4:hover {
    transform: scale(1.1);
    z-index: 9999;
  }
  
  .ficha1:active,.ficha2:active,.ficha3:active,.ficha4:active,.fichab1:active,.fichab2:active,.fichab3:active,.fichab4:active,.fichac1:active,.fichac2:active,.fichac3:active,.fichac4:active,.fichad1:active,.fichad2:active,.fichad3:active,.fichad4:active {
    transform: scale(0.9);
  }


  .all{
 }
 .lamesa{
    width:900px;
    height:900px;
    left:50vh;
    top:5vh;
    position:absolute ;
    background:#fff;
    border-radius:20px;
 }
 .icono{
    position:absolute ;
    left:380px;
    top:375px;
    height: 150px;
    width: 150px;
    content: url("..//imagenes/iconos/lamesa.png");
 }
 
 /*Casillas de casa*/
 .rojo{
     width:300px;
     height:300px;
     position:absolute ;
     background:red;
     border-radius:10px 0px 0px 0px;
     z-index:100;
 }
 .verde{
     width:300px;
     height:300px;
     position:absolute ;
     background:green;
     top:600px;
     border-radius:0px 0px 0px 10px;
     z-index:100;
 }
 .amarillo{
     width:300px;
     height:300px;
     position:absolute ;
     background:yellow;
     top:600px;
     left:600px;
     border-radius:0px 0px 10px 0px;
     z-index: 100;
 }
 .azul{
     width:300px;
     height:300px;
     position:absolute ;
     background:blue;
     left:600px;
     border-radius:0px 10px 0px 0px;
     z-index: 100;
 }
 
 
 /*Ultimas casillas coloreadas para llegar al final*/
 .rojob{
     width:99.9px;
     height:300px;
     position:absolute ;
     background:red;
     left:399.9px;
     top:42px;
 }
 
 .verdeb{
     width:300px;
     height:99.9px;
     position:absolute ;
     background:green;
     top:399.9px;
     left:42px;
 }
 
 .amarillob{
     width:99.9px;
     height:300px;
     position:absolute ;
     background:yellow;
     top:558px;
     left:399.9px;
 }
 
 .azulb{
     width:300px;
     height:99.9px;
     position:absolute ;
     background:blue;
     left:558px;
     top:399.9px;
 }
 
 
 /*Fondo oscuro dentro de la casilla casa*/
 .azulc{
     width:180px;
     height:180px;
     position:absolute ;
     background:#000;
     left:60px;
     top:60px;
     opacity:0.3;
     border-radius:30px;
     z-index: 100;
 }
 .rojoc{
     width:180px;
     height:180px;
     position:absolute ;
     background:#000;
     left:60px;
     top:660px;
     opacity:0.3;
     border-radius:30px;
     z-index: 100;
 }
 .amarilloc{
     width:180px;
     height:180px;
     position:absolute ;
     background:#000;
     left:660px;
     top:660px;
     opacity:0.3;
     border-radius:30px;
     z-index: 100;
 }
 .verdec{
     width:180px;
     height:180px;
     position:absolute ;
     background:#000;
     left:660px;
     top:60px;
     opacity:0.3;
     border-radius:30px;
     z-index: 100;
 }
 
 /*Triangulos para las casillas finales*/
 .rojod {
   width: 2px;
   height: 4px;
   position: absolute;
   border: 114px solid transparent;
   left: 336px;
   top: 336px;
   border-right: 114px solid red;
   transform: rotate(-90deg);
 }
 
 .verded {
   width: 50px;
   height: 4px;
   position: absolute;
   border: 114px solid transparent;
   left: 336px;
   top: 335px;
   border-right: 114px solid green;
   transform: rotate(180deg);
 }
 
 .azuld {
   width: 199.8px;
   height: 4px;
   position: absolute;
   border: 114px solid transparent;
   left: 137px;
   top: 335px;
   border-right: 114px solid blue;
 }
 
 .amarillod {
   width: 3px;
   height: 4.5px;
   position: absolute;
   border: 114px solid transparent;
   left: 335px;
   top: 333px;
   border-right: 114px solid yellow;
   transform: rotate(90deg);
 }
 
 /*Fichas azules*/
 .ficha1{
     position:absolute ;
     background:blue;
     top:68%;
     left:62%;
     width:35px;
     height:35px;
     z-index:9998;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .ficha2{
     position:absolute ;
     background:blue;
     top:96%;
     left:56%;
     width:35px;
     height:35px;
     z-index:9998;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .ficha3{
     position:absolute ;
     background:blue;
     top:25px;
     left:85px;
     width:35px;
     height:35px;
     z-index:9998;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .ficha4{
     position:absolute ;
     border:1px solid #000;
     background:blue;
     top:45%;
     left:33%;
     width:35px;
     height:35px;
     z-index:9998;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 /*Fichas rojas*/
 .fichab1{
     position:absolute ;
     background:red;
     top:225px;
     width:35px;
     height:35px;
     border-radius:50%;
     z-index: 9998;
     background-color: red;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichab2{
     position:absolute ;
     border:1px solid #000;
     background:red;
     top:255px;
     left:25px;
     width:35px;
     height:35px;
     border-radius:50%;
     z-index: 9998;
     background-color: red;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichab3{
     position:absolute ;
     border:1px solid #000;
     background:red;
     top:255px;
     left:55px;
     width:35px;
     height:35px;
     border-radius:50%;
     z-index: 9998;
     background-color: red;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichab4{
     position:absolute ;
     border:1px solid #000;
     background:red;
     top:225px;
     left:55px;
     width:35px;
     height:35px;
     border-radius:50%;
     z-index: 9998;
     background-color: red;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 
 /*Fichas amarillas*/
 .fichac1{
     position:absolute ;
     border:1px solid #000;
     background:yellow;
     top:255px;
     left:225px;
     width:35px;
     height:35px;
     border-radius:50%;
     z-index: 9998;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .fichac2{
     position:absolute ;
     z-index: 9998;
     background:yellow;
     top:255px;
     left:255px;
     width:35px;
     height:35px;
     border: none;
     outline: none;
     border-radius:50%;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichac3{
     position:absolute ;
     border:1px solid #000;
     background:yellow;
     top:225px;
     left:255px;
     width:35px;
     height:35px;;
     border: none;
     outline: none;
     border-radius:50%;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .fichac4{
     position:absolute ;
     z-index: 9998;
     background:yellow;
     top:225px;
     left:225px;
     width:35px;
     height:35px;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 /*Fichas verdes*/
 .fichad1{
     position:absolute ;
     z-index: 9998;
     background:green;
     top:55px;
     left:255px;
     width:35px;
     height:35px;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichad2{
     position:absolute ;
     z-index: 9998;
     background:green;
     top:55px;
     left:225px;
     width:35px;
     height:35px;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .fichad3{
     position:absolute ;
     z-index: 9998;
     background:green;
     top:25px;
     left:255px;
     width:35px;
     height:35px;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 .fichad4{
     position:absolute ;
     z-index: 9998;
     background:green;
     top:25px;
     left:225px;
     width:35px;
     height:35px;
     border-radius:50%;
     border: none;
     outline: none;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
     cursor: pointer;
     transition: transform 0.1s ease-out;
 }
 
 .filas{
     width:300px;
     height:2px;
     background:#000;
     position:absolute ;
     left:300px;
     top:294px;
     z-index:100;
 }
 
 .f1{
     top:42px;
     position:absolute ;
     z-index:100;
 }
 .f2{
     top:84px;
     position:absolute ;
     z-index:100;
 }
 .f3{
     top:126px;
     position:absolute ;
     z-index:100;
 }
 .f4{
     top:168px;
     position:absolute ;
     z-index:100;
 }
 .f5{
     top:210px;
     position:absolute ;
     z-index:100;
 }
 .f6{
     top:252px;
     position:absolute ;
     z-index:100;
 }
 /*Cuadrado del medio, lado azul*/
 .f7{
     top:336px;
     position:absolute ;
     width:228px;
     left:336px;
     z-index:99;
     height: 3px;
 }
 
 .filab{
     height:300px;
     width:2px;
     background:#000;
     position:absolute ;
     left:42px;
     top:300px;
     z-index:99;
 }
 
 .f8{
     position:absolute ;
     left:84px;
     z-index:100;
 }
 .f9{
     position:absolute ;
     left:126px;
     z-index:100;
 }
 .f10{
     position:absolute ;
     left:168px;
     z-index:100;
 }
 
 .f11{
     position:absolute ;
     left:210px;
     z-index:100;
 }
 .f12{
     position:absolute ;
     left:252px;
     z-index:100;
 }
 
 .f13{
     position:absolute ;
     left:294px;
     z-index:100;
 }
 /*Cuadrado del medio, lado verde*/
 .f14{
     position:absolute ;
     left:564px;
     height:230px;
     width:3px;
     top:336px;
     z-index:99;
 }
 
 .filac{
     width:300px;
     height:2px;
     background:#000;
     position:absolute ;
     top:858px;
     left:300px;
     z-index:99;
 }
 
 .f16{
     position:absolute ;
     top:606px;
     z-index:100;
 }
 .f17{
     position:absolute ;
     top:648px;
     z-index:100;
 }
 .f19{
     position:absolute ;
     top:690px;
     z-index:100;
 }
 .f20{
     position:absolute ;
     top:732px;
     z-index:100;
 }
 .f21{
     position:absolute ;
     top:774px;
     z-index:100;
 }
 .f22{
     position:absolute ;
     top:816px;
     z-index:100;
 }
 /*Cuadrado del medio, lado amarillo*/
 .f23{
     position:absolute ;
     top:563px;
     width:228px;
     left:336px;
     height: 3px;
     z-index:99;
 }
 .f25{
     position:absolute ;
     left:860px;
     z-index:100;
 }
 .filad{
     height:300px;
     width:2px;
     background:#000;
     position:absolute ;
     top:300px;
     left:856px;
     z-index:100;
 }
 .f25{
     position:absolute ;
     left:814px;
     z-index:100;
 }
 
 .f26{
     position:absolute ;
     left:772px;
     z-index:100;
 }
 .f27{
     position:absolute ;
     left:730px;
     z-index:100;
 }
 
 .f28{
     position:absolute ;
     left:688px;
     z-index:100;
 }
 .f29{
     position:absolute ;
     left:646px;
     z-index:100;
 }
 .f30{
     position:absolute ;
     left:604px;
     z-index:100;
 }
 
 /*Cuadrado del medio, lado rojo*/
 .f31{
     position:absolute ;
     left:336px;
     height:225px;
     width:3px;
     top:338px;
     z-index:99;
 }
 
 .filae{
     width:55px;
     height:2px;
     background:#000;
     position:absolute ;
     transform:rotate(45deg);
     top:390px;
     left:315px;
     z-index:99;
 }
  
.derpasamarillo{
    position:absolute ;
    top:731px;
    left:232px;
    transform:rotate(270deg);
    z-index:150;
    width: 336px;
}
.izqpasamarillo{
    position:absolute ;
    top:731px;
    left:330px;
    transform:rotate(270deg);
    z-index:150;
    width: 337px;
}
.izqpasrojo{
    position:absolute ;
    top:168px;
    left:331px;
    transform:rotate(270deg);
    z-index:150;
    width: 337px;
}
.arrpasazul{
    position:absolute ;
    top:400px;
    left:564px;
    transform:rotate(180deg);
    z-index:150;
    width: 337px;
}
.debpasazul{
    position:absolute ;
    top:498px;
    left:564px;
    transform:rotate(180deg);
    z-index:150;
    width: 337px;
}
.debpasverde{
    position:absolute ;
    top:498px;
    left:0px;
    transform:rotate(180deg);
    z-index:150;
    width: 337px;
}
.arrpasverde{
    position:absolute ;
    top:400px;
    left:0px;
    transform:rotate(180deg);
    z-index:150;
    width: 337px;
}
.derpasrojo{
    position:absolute ;
    top:168px;
    left:232px;
    transform:rotate(270deg);
    z-index:150;
    width: 337px;
}
 /*Diagonal casa rojo*/
 .incli1{
     position:absolute ;
     top:317px;
     left:291px;
     transform:rotate(45deg);
     z-index:99;
 }
 
 /*Diagonal casa verde*/
 .incli2{
     position:absolute ;
     top:582px;
     left:290px;
     transform:rotate(-45deg);
     z-index:99;
 }
 /*Diagonal casa amarillo*/
 .incli3{
     position:absolute ;
     top:582px;
     left:555px;
     transform:rotate(45deg);
     z-index:99;
 }
 /*Diagonal casa azul*/
 .incli4{
     position:absolute ;
     top:317px;
     left:555px;
     transform:rotate(-45deg);
     z-index:99;
 }
 
 /*Casilla seguro azul final*/
 .star{
     width:100px;
     height:42px;
     position:absolute ;
     background:gray;
     left:400px;
     text-align:center ;
     color:#282828;
     z-index:99;
 }
 /*Casilla seguro casa de rojo*/
 .s2{
     position:absolute ;
     top:170px;
     left:300px;
     background:red;
     
 }
 
 /*Casilla seguro después de casa de azul*/
 .s3{
     position:absolute ;
     top:300px;
     left:168px;
     width:42px;
     height:100px;
     background:gray;
     text-align:text-bottom ;
 }
 /*Estrella de para lo anterior*/
 .ss3{
     top:10px;
     position:absolute ;
     z-index:1000;
 }
 /*Casilla seguro rojo final*/
 .s4{
     position:absolute ;
     top:400px;
     left:0px;
     width:42px;
     height:100px;
     background:gray;
 }
 .ss4{
     top:10px;
     position:absolute ;
 }
 
 /*Casilla seguro casa de verde*/
 .s5{
     position:absolute ;
     top:500px;
     left:168px;
     width:42px;
     height:100px;
     background:green;
 }
 .ss5{
     top:10px;
     position:absolute ;
 }
 /*Casilla seguro después de casa de rojo*/
 .s6{
     position:absolute ;
     top:690px;
     left:300px;
 }
 /*Casilla seguro amarillo final*/
 .s7{
     position:absolute ;
     top:858px;
     left:400px;
     z-index:1;
     
 }
 
 /*Casilla seguro casa de amarillo*/
 .s8{
     position:absolute ;
     top:690px;
     left:500px;
     background:yellow;
 }
 
 /*Casilla seguro después de casa de amarillo*/
 .s9{
     position:absolute ;
     top:500px;
     left:688px;
     width:42px;
     height:100px;
     background:gray;
 }
 .ss9{
     top:10px;
     position:absolute ;
 }
 
 /*Casilla seguro final de verde*/
 .s10{
     position:absolute ;
     top:400px;
     left:858px;
     width:42px;
     height:100px;
     background:gray;
 }
 .ss10{
     top:10px;
     position:absolute ;
 }
 
 /*Casilla seguro casa de azul*/
 .s11{
     position:absolute ;
     top:300px;
     left:688px;
     width:42px;
     height:100px;
     background:blue;
 }
 .ss11{
     top:10px;
     position:absolute ;
 }
 /*Casilla seguro después de casa de verde*/
 .s12{
     position:absolute ;
     top:170px;
     left:500px;
 }  
 
 .numeros{
     font-size:20px;
     position:absolute ;
     z-index:99;
 }
 .n1{
     position:absolute ;
     left:505px;
     top:865px;
 }
 
 .n2{
     position:absolute ;
     left:505px;
     top:823px;
 }
 .n3{
     position:absolute ;
     left:505px;
     top:781px;
 }
 .n4{
     position:absolute ;
     left:505px;
     top:739px;
 }
 .n5{
     position:absolute ;
     left:505px;
     top:697px;
 }
 .n6{
     position:absolute ;
     left:505px;
     top:655px;
 }
 .n7{
     position:absolute ;
     left:505px;
     top:613px;
 }
 .n8{
     position:absolute ;
     left:505px;
     top:571px;
 }
 
 .numerosb{
     font-size:20px;
     transform:rotate(-90deg);
 }
 
 .n9{
     top:500px;
     left:575px;
     position:absolute ;
 }
 
 .n10{
     top:500px;
     left:617px;
     position:absolute ;
 }
 .n11{
     top:500px;
     left:659px;
     position:absolute ;
 }
 
 .n12{
     top:500px;
     left:701px;
     position:absolute ;
 }
 
 .n13{
     top:500px;
     left:743px;
     position:absolute ;
 }
 .n14{
     top:500px;
     left:785px;
     position:absolute ;
 }
 
 .n15{
     top:500px;
     left:827px;
     position:absolute ;
 }
 .n16{
     top:500px;
     left:869px;
     position:absolute ;
 }
 .n17{
     top:440px;
     left:869px;
     position:absolute ;
 }
 .n18{
     top:375px;
     left:869px;
     position:absolute ;
 }
 .n19{
     top:375px;
     left:827px;
     position:absolute ;
 }
 .n20{
     top:375px;
     left:785px;
     position:absolute ;
 }
 
 .n21{
     top:375px;
     left:743px;
     position:absolute ;
 }
 .n22{
     top:375px;
     left:701px;
     position:absolute ;
 }
 .n23{
     top:375px;
     left:659px;
     position:absolute ;
 }
 .n24{
     top:375px;
     left:617px;
     position:absolute ;
 }
 .n25{
     top:375px;
     left:575px;
     position:absolute ;
 }
 .n26{
     top:300px;
     left:505px;
     position:absolute ;
 }
 .n27{
     top:258px;
     left:505px;
     position:absolute ;
 }
 
 .n28{
     top:216px;
     left:505px;
     position:absolute ;

 }
 .n29{
     top:174px;
     left:505px;
     position:absolute ;

 }
 .n30{
     top:132px;
     left:505px;
     position:absolute ;

 }
 .n31{
     top:90px;
     left:505px;
     position:absolute ;

 }
 .n32{
     top:48px;
     left:505px;
     position:absolute ;

 }
 .n33{
     top:6px;
     left:505px;
     position:absolute ;

 }
 .n34{
     top:6px;
     left:440px;
     position:absolute ;
  
 }
 .n35{
     top:6px;
     left:375px;
     position:absolute ;

 }
 .n36{
     top:48px;
     left:375px;
     position:absolute ;
 
 }
 .n37{
     top:90px;
     left:375px;
     position:absolute ;

 }
 
 .n38{
     top:132px;
     left:375px;
     position:absolute ;
 }
 .n39{
     top:174px;
     left:375px;
     position:absolute ;
 }
 .n40{
     top:216px;
     left:375px;
     position:absolute ;
 }
 .n41{
     top:258px;
     left:375px;
     position:absolute ;
 }
 .n42{
     top:300px;
     left:375px;
     position:absolute ;
 } 
 
 .n43{
     top:375px;
     left:310px;
     position:absolute ;
     transform:rotate(-270deg);
 } 
 .n44{
     top:375px;
     left:268px;
     position:absolute ;
     transform:rotate(-270deg);
 } 
 
 .n45{
     top:375px;
     left:226px;
     position:absolute ;
     transform:rotate(-270deg);
 }
 
 .n46{
     top:375px;
     left:184px;
     position:absolute ;
     transform:rotate(-270deg);
 }
 .n47{
     top:375px;
     left:142px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 .n48{
     top:375px;
     left:100px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 
 .n49{
     top:375px;
     left:58px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 
 .n50{
     top:375px;
     left:16px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 .n51{
     top:440px;
     left:10px;
     position:absolute ;
     transform:rotate(-270deg);
 } 
 
 .n52{
     top:500px;
     left:16px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 .n53{
     top:500px;
     left:58px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 .n54{
     top:500px;
     left:100px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 
 .n55{
     top:500px;
     left:142px;
     position:absolute ;
     transform:rotate(-270deg);
 }  
 
 .n56{
     top:500px;
     left:184px;
     position:absolute ;
     transform:rotate(-270deg);
 } 
 
 .n57{
     top:500px;
     left:226px;
     position:absolute ;
     transform:rotate(-270deg);
 }
 .n58{
     top:500px;
     left:268px;
     position:absolute ;
     transform:rotate(-270deg);
 }
 .n59{
     top:500px;
     left:310px;
     position:absolute ;
     transform:rotate(-270deg);
 }
 .n60{
     top:571px;
     left:375px;
     position:absolute ;
 }
 .n61{
     top:613px;
     left:375px;
     position:absolute ;
 }
 .n62{
     top:655px;
     left:375px;
     position:absolute ;
 }
 .n63{
     top:697px;
     left:375px;
     position:absolute ;
 }
 .n64{
     top:739px;
     left:375px;
     position:absolute ;
 }
 .n65{
     top:781px;
     left:375px;
     position:absolute ;
 }
 .n66{
     top:823px;
     left:375px;
     position:absolute ;
 }
 .n67{
     top:865px;
     left:375px;
     position:absolute ;
 }
 .n68{
     top:865px;
     left:440px;
     position:absolute ;
 }
 
 .fa{
     color:#404040;
 }
 