.back5{
    margin-top: 4%;
    margin-left: 3%;
}

.botonOrdenar{
  position: fixed;
  z-index: 100;
  background-color: rgba(119, 55, 3, 0);
  background-image: url('../imagenes/iconos/flechas.png');
  background-size: cover;
  border: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: 10px;
}  
  .ranking-table tr:hover {
    background: #ffa426;
  }

  .ranking-table table {
    text-align: center;
    width: 98%;
    margin: auto;
    border-spacing: 0 0;
    background: #213b4c00;
    color: white;
    box-shadow: 0 0 20px #291706;
    border-radius: 20px;
    overflow: hidden;
}
.ranking-table td, th {
    padding: 0.5rem;
    border: none;
  }
  .ranking-table td {
    font-size: 1.2em;
    border: none;
    color:black;
  }

  .ranking-table th{
    background: #6b4302;
    border: none;  
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4em;
    padding: 20px 0px 20px 0px;
  }
