.torneosdisponibles{
  margin-bottom: 25px;
}
.torneosdisponibles table {
    margin: auto;
    background-color: #6e4306;
    text-align: center;
    color: white;
    border: 5px solid #6e4306;
    border-radius: 25px;
}
.torneosdisponibles td, th {
    padding: 0.5rem;
    border: none;
  }
  .modalTitle{
    font-weight: bold;
    font-size: 1.75rem;
  }
  
  .torneosdisponibles td {
    font-size: 1.2rem;
  }
  .nombre-torneo{
    font-weight: bold;
    font-size: 2.75rem;
  }
  .form-check {
    display: inline-block;
  }

  .custom-modal-creartorneo{
    width: 1000px;
    height: 650px;
    background-color: #ffc957;
    border-radius: 10px;
    border: 5px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 100;
  }

.crearTorneo {
  background-color: rgb(119, 55, 3);
  border-radius: 15px;
  color:#fff;
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
 
}

.numjug {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Titulobody{
  font-size: 1.25rem;
}

.numjug input[type="text"] {
  width: 250px;
  height: 30px;
  left:5px;
  border-radius: 10px;
  background-color: #f7f3b400;
  border: 5px solid rgb(148, 96, 4); 
  margin: 5;
  padding: 0;
}

.numjug input[type="number"] {
  width: 75px;
  height: 30px;
  left:5px;
  border-radius: 10px;
  background-color: #f7f3b400;
  border: 5px solid rgb(148, 96, 4); 
  margin: 5;
  padding: 0;
}

.apuntarseboton{
  background-color: rgb(253, 137, 42);
  border-radius: 15px;
  color:#000000;
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin:25px; 
  left:500px;
}

.creartorneoboton{
  background-color: rgb(119, 55, 3);
  border-radius: 15px;
  color:#fff;
  height: 50px;
  width: 120px;
  cursor: pointer;
  margin:25px; 
  left:500px;
}